<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<body>
  {% include "exam/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Welcome to the Online Exam Portal</h2>
    <p class="display-4 d-none d-sm-block">Take your exams conveniently online!</p>
    <p class="lead">Sign up now to get started with your exams</p>


    <br><br><br>
  </div>
</section>
  {% include "exam/footer.html" %}
</body>

</html>